#advertise_container
{
  background-color: #193135;
  color: #ffffff;
  text-align: center;
  padding: 6% 0;
  width: 100%;
  display: table;


  #advertise_left
  {
    display: table-cell;
    width: 45%;

    #advertise_left_inner
    {
      width: 80%;
      margin: 0 0 0 auto;

      h2 { padding: 0; margin: 0 0 20px 0;  font-family: 'Libre Baskerville', serif; }

      #get_started_btn
      {

        border: 1px solid #f1efe3;
        padding: 10px 0;
        display: inline-block;
        width: 370px;
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;
        color: #f1efe3;
        font-size: 11px;
        margin-bottom: 10px;

        @media screen and (max-width : 360px) {
          width: 200px !important;
        }

        &:hover
        {
          cursor: pointer;
          border: 1px solid #aaaaaa;
          color: #b3b3b3;
        }
      } // close #directory_search_btn

    } // close #advertise_left_inner

  } // close #advertise_left


  #advertise_right
  {
    width: 45%;
    display: table-cell;

    p { width: 80%; text-align: left; line-height: 20px; }
  } // close #advertise_right

} // close #advertise_container





@media screen and (max-width : 960px) {

  div#advertise_container {
    display: block;
    border: 1px solid white !important;

    div#advertise_left {
      width: 100%;
      display: block;
      padding: 0;
      border: none;
      color: #f0ffff !important;
      div#advertise_left_inner { padding: 0; display: block; width: 100%; }
    } // close div#advertise_left

    div#advertise_right {

      width: 100%;
      display: block;
      p { margin: 0 auto; text-align: center; }

    } // close div#advertise_right

  } // close  div#advertise_container

}


@media screen and (max-width : 800px){
  #advertise_container { padding: 20px 0; }
}