#browse_container
{
  position: relative;
  background-color: #275e46;
  color: #f1efe3;
  text-align: center;
  padding-bottom: 400px;


  /*
   * Slideshow controls
   */
  #browse_slideshow
  {
    position: absolute;
    top: 50%;
    width: 100%;

    .browse-slideshow-btn
    {
      border: 1px solid #ffffff;
      border-top-color: #b2b2b2;
      padding: 5px 40px;
      text-transform: uppercase;
      font-size: 11px;
      cursor: pointer;
    } // close .browse-slideshow-btn

    #previous
    {
      display: inline-block;
      border-left: none;
      float: left;
      padding-left: 10px;
      z-index: 10;

      img { margin-right: 40px; }
    } // close #invite

    #next
    {
      display: inline-block;
      border-right: none;
      float: right;
      padding-right: 10px;
      z-index: 9999;

      img { margin-left: 40px; }
    } // close #social
  } // close #browse_slideshow




  hgroup
  {
    padding-top: 8%;

    img { margin-bottom: 40px; }
    h5 { text-transform: uppercase; margin-bottom: 30px;}
    h1 { }
  } // close hgroup


  ul#browse_alphabet
  {
    display: inline-block;
    text-align: center!important;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      list-style: none;
      margin: 10px 0;
      font-size: 10px;

      &.active
      {
        a { font-size: 14px; padding: 5px 15px; border: 1px solid #ffffff; }
      }

      a, a:hover, a:active, a:visited { padding: 5px; color: inherit; }
      a:hover { font-size: 14px; padding: 5px 15px; border: 1px solid #ffffff; }
    }

  } // close ul#browse_alphabet


  #browse_selector_container
  {

    text-align: center;
    display: none;

    select#browse_selector
    {
      color: #000000!important;
      width: 80%;

      option.active {
        background-color: #1e90ff;
      }
    } // close select#browse_selector

  } // close #browse_selector_container


  @media screen and (max-width : 768px){

    ul#browse_alphabet { display: none; }
    #browse_selector_container { display: block; }
  }


  .browse-vertical-split
  {
    position: relative;
    left: 50%;
    top: 20px;
    height: 7vh;
    border-left: 1px solid white;
    width: 1px;
  } // close .browse-vertical-split

  .browse-vertical-split-2
  {
    top: 120px;
  } // close .browse-vertical-split-2


  #browse_grid
  {
    position: relative;
    top: 50px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

    .business-block
    {

      text-align: center;
      display: inline-block;

      margin: 5px;

      .business-block-inner
      {

        width: 230px;

        .business-image {
          img { width: 230px!important; }
        }
        .business-name {
          background-color: #f1efe3;
          color: #275e46;
          height: 60px;
          line-height: 60px;
          width: 100%;
          vertical-align: middle;
          overflow: hidden;
        }


        @media screen and (max-width : 650px){

          width: 150px;
          .business-image {
            display: none;
          }

        }

      } // close .business-block-inner

    } // close .business-block

  } // close #browse_grid


  #add_business_btn
  {

    position: relative;
    top: 180px;
    border: 1px solid #f1efe3;
    padding: 10px 40px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1efe3;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      border: 1px solid #aaaaaa;
      color: #b3b3b3;
    }
  } // close #add_business_btn

} // close #browse_container


@media screen and (max-width : 800px){
  #browse_container { padding-bottom: 220px; }
}