#courses_container
{
  position: relative;
  background-color: #788b71;
  color: #ffffff;
  text-align: center;
  padding-bottom: 250px;
  z-index: 0;



  div#courses_overlay
  {
    background-image: url('../img/layout/courses_bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;

  } // close div#landing_overlay


  div#courses_darken
  {
    background-color: #1b4632;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  } // close div#overlay_darken


  #hole_par_container
  {

    padding-top: 8%;
    text-transform: uppercase;
    letter-spacing: 3px;

    .hole-par-item { display: inline-block; }

    #hole_par_centre
    {

      border: 1px solid #ffffff;
      padding: 5px 20px;
      margin: 0 60px;
      vertical-align: middle;
      display: inline-block;

      h1 { display: inline-block; font-size: 84px; padding: 0; margin: 0 100px 0 0; vertical-align: middle; font-family: 'Roboto', sans-serif; }
      span#hole_par_centre_text {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
      }

    } // close #hole_par_centre

    #hole_par_left, #hole_par_right { font-size: 11px; }



    @media screen and (max-width : 560px){

      #hole_par_left { display: block; margin-bottom: 20px; }
      #hole_par_right { display: block; margin-top: 20px; }
      #hole_par_centre {
        margin: 0;
        h1 { margin-right: 60px; }
      }

    }

  } // close #hole_par_container


  #courses_vertical_split
  {
    position: relative;
    left: 50%;
    top: 60px;
    height: 20vh;
    border-left: 1px solid white;
    width: 1px;
  } // close #courses_vertical_split


  #view_all_courses
  {
    position: relative;
    top: 120px;
    border: 1px solid white;
    padding: 10px 40px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;

    &:hover
    {
      cursor: pointer;
      border: 1px solid #aaaaaa;
      color: #b3b3b3;
    }
  } // close #view_all_courses


} // close #courses_container


@media screen and (max-width : 800px){
  #courses_container { padding-bottom: 150px; }
}