#directory_search_container
{
  position: relative;
  background-color: #193035;
  color: #ffffff;
  text-align: center;
  padding-bottom: 140px;
  margin-top: 136px;
  z-index: 0;


  #directory_search_overlay
  {
    background-image: url('../img/layout/search_bg.png');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
  } // close #directory_search_overlay


  #directory_search_darken
  {
    background-color: #193035;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
    filter: alpha(opacity=92);
    opacity: 0.92;
  } // close #directory_search_darken




  hgroup
  {
    padding-top: 10%;

    h5 { text-transform: uppercase; text-align: center; }
    h1 { text-align: center; }
  } // close hgroup


  form#business_search_form
  {

    input
    {
      background-image: url('../img/layout/search_location.png');
      background-repeat: no-repeat;
      background-position: right;
      background-color: transparent;
      text-transform: uppercase;
      border: 1px solid #ffffff;
      text-align: center;
      padding: 20px 0;
      width: 45%;
      letter-spacing: 3px;


      @media screen and (max-width : 640px){
        width: 80%;
      }
    } // close input

  } // close form#business_search_form


  #directory_search_vertical_split
  {
    position: relative;
    left: 50%;
    top: 40px;
    height: 8vh;
    border-left: 1px solid #e5e6da;
    width: 1px;
  } // close #courses_vertical_split


  #directory_search_btn
  {
    margin-top: 80px;
    border: 1px solid #f1efe3;
    padding: 10px 0;
    display: inline-block;
    width: 180px!important;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1efe3;
    font-size: 11px;
    margin-bottom: 10px;

    &:hover
    {
      cursor: pointer;
      border: 1px solid #aaaaaa;
      color: #b3b3b3;
    }

  } // close #directory_search_btn

} // close #directory_search_container


@media screen and (max-width : 800px){
  #directory_search_container { padding-bottom: 20px; }
}