#footer_container
{
  background-color: #f1efe3;
  color: #aea98e;
  text-align: center;
  padding-bottom: 100px;


  img#footer_icon { margin-bottom: 50px; padding-top: 8%; }

  p#enter_email { width: 35%; margin: 0 auto 30px auto; }
  @media screen and (max-width : 800px){
    p#enter_email { width: 80%; }
  }


  #enter_email_form
  {

    input {
      border: 1px solid #abaa9b;
      padding: 10px 20px;
      width: 280px;
      background-color: transparent;
    }

    button {
      background-color: #aaaa8f;
      border: 1px solid #abaa9b;
      color: #ffffff;
      padding: 10px;
      margin-left: -5px;
    }


    @media screen and (max-width : 360px) {
      input {
        width: 220px!important;
      }
    }

  } // close #enter_email_form


  ul#footer_links
  {
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0 0 0;
    padding: 0;

    li {
      font-size: 11px;
      display: inline;
      list-style:none;
      margin: 0 10px;
      a, a:hover, a:active, a:visited { color: inherit; }
    }

  } // close ul#footer_links


  p#footer_copyright
  {
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 11px;


    @media screen and (max-width : 500px){
      #copyright_first { display: block; }
    }
  } // close p#footer_copyright

} // close #footer_container


@media screen and (max-width : 800px){
  #footer_container { padding-bottom: 20px; }
}