body
{

    color: #ffffff!important;

    .responsive-toggle-btn { cursor: pointer; }
    div#landing_nav_responsive
    {
        display: none;
        background-color: #333333;
        position: fixed;
        width: 100%;
        height: 100%;
        float: left;
        z-index: 10000;
        padding-top: 20px;
        overflow: hidden;

        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
        filter: alpha(opacity=95);
        opacity: 0.95;

        i#landing_nav_responsive_close
        {
            position: absolute;
            top: 10px;
            right: 10px;
            #fixed_nav_responsive_close { display: none; float: right; position: relative; right: 10px; }
        } // close i#landing_nav_responsive_close

        ul#landing_nav_responsive_content
        {
            li{
                list-style: none;
                margin: 10px 0;
                a {
                    color: #ffffff;
                    font-size: 20px;
                }
                a.active, a:hover {
                    padding: 5px 0;
                    text-decoration: none;
                    border-bottom: 2px solid #f1efe4;
                }
            }
        } // close ul#landing_nav_responsive_content

    } // close div#landing_nav_responsive


    div#landing_full
    {

        height: 100%;
        z-index: 0;

        div#landing_overlay
        {
            background-image: url('../img/layout/slider_bg.jpg');
            background-size: cover;
            position: absolute;
            width: 99%;
            height: 100%;
            z-index: -2;
            left: 0.5%;
            top: 1%;

            div#overlay_darken
            {
                background-color: #000000;
                width: 100%;
                height: 100%;
                z-index: -1;

                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
                filter: alpha(opacity=30);
                opacity: 0.3;
            } // close div#overlay_darken

        } // close div#landing_overlay


        div#landing_header
        {

            width: 80%;
            margin: 0 auto 0 auto;
            padding-top: 50px;
            font-size: 11px;
            text-transform: uppercase;
            a, a:hover, a:active, a:visited { color: #FFFFFF; }

            /*
             * Responsive menu
             */

            #landing_header_logo {
                position: relative;
                top: -20px;
                float: left;
            }

            ul#landing_nav
            {

                text-align: center;
                position: relative;
                left: -106px;
                padding: 20px 0 0 0;
                margin: 0;

                li
                {
                    display: inline-block;
                    margin: 0 20px;
                    color: #FFFFFF;
                } // close li

            } // close ul#landing_nav


            #landing_signin
            {
                position: absolute;
                top: 60px;
                right: 25px;
                display: inline-block;
                border: 1px solid white;
                padding: 5px 20px;
                font-weight: normal;
                text-decoration: none;

                &:hover
                {
                    cursor: pointer;
                    border: 1px solid #aaaaaa;
                    color: #aaaaaa;
                }
            } // close #landing_signin


            /*
             * Toggle for responsive menu
             */
            i#landing_nav_toggle
            {
                float: right;
                display:none;
            }


            @media screen and (max-width : 1190px){
                ul#landing_nav {
                    left: 0;
                    li { margin: 0 5px; }
                }
            }

            @media screen and (max-width : 920px){

                #landing_header_logo { position: absolute; top: 30px; left: 30px; }
            }

            @media screen and (max-width : 725px) {

                ul#landing_nav {
                    position: static;
                    display: none;
                }

                #landing_signin { display: none!important; }
                i#landing_nav_toggle { position: absolute; top: 10px; right: 10px; display: inline; }
            }

            @media screen and (max-width : 625px){
                #landing_header_logo { display: none; }
            }

        } // close div#landing_header


        div#landing_content
        {

            position: absolute;
            width: 100%;
            top: 25%;
            text-align: center;
            z-index: 2;

            hgroup
            {
                h1 { font-size: 64px; }
                h5 { text-transform: uppercase; margin-bottom: 30px; }

                @media screen and (max-width : 910px) {
                    h1 { font-size: 42px; }
                }
            } // close hgroup

            #vertical_split
            {
                position: relative;
                left: 50%;
                height: 15vh;
                border-left: 1px solid white;
                width: 1px;
                margin: 20px 0;
            }

            #join_now
            {
                border: 1px solid white;
                padding: 10px 60px;
                font-weight: normal;
                text-decoration: none;
                text-transform: uppercase;
                color: #ffffff;

                &:hover
                {
                    cursor: pointer;
                    border: 1px solid #aaaaaa;
                    color: #b3b3b3;
                }
            } // close #landing_signin

            #slide_divider
            {
                position: relative;
                height: 10vh;
            }

            #slide_container
            {
                position: relative;
                bottom: 100%;

                #slide_controls
                {

                    width: 100%;

                    #slide_circle
                    {
                        margin: 20px auto 0 auto;
                        background-color: #f0f0f0;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                    } // close #slide_circle

                    #slide_hollow_circle
                    {
                        margin: 20px auto 0 auto;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                    } // close #slide_circle

                    #slide_text
                    {
                        margin: 20px auto 0 auto;
                    }

                } // close #slide_controls

            } // close #slide_container

        } // close div#landing_content




        @media screen and (max-width : 625px){
            div#landing_content {
                top: 30px;
            }
        }


        @media screen and (max-height: 640px) {

            #landing_content {
                #vertical_split {
                    display: none;
                }
                hgroup {
                    h5 { font-size: 11px; }
                    h1 {
                        font-size: 32px!important;
                    }
                }
            }
        }


    } // close div#landing_full


} // close body