
#directory_container
{
    .fixed-menu
    {
        top: 0;
    } // close #directory_container
} // close #directory_container

.fixed-menu
{

    border: 10px solid #f1efe3;
    border-left-width: 0;
    border-right-width: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 0;
    text-align: center;

    background-color: #326048;
    color: #f1efe4;
    a, a:hover, a:active, a:visited { color: inherit; }


    #fixed_menu_holder
    {

        display: inline-block;
        position: relative;
        width: 100%;

        img#fixed_menu_logo { margin-right: 60px; }


        #fixed_nav_responsive_close { display: none; float: right; position: relative; right: 10px; }

        ul#fixed_menu_items
        {

            display: inline;
            padding: 0;
            margin: 0;
            text-transform: uppercase;

            li
            {
                list-style: none;
                display: inline-block;
                margin: 0 10px;
                letter-spacing: 3px;

                a.active, a:hover {
                    padding: 5px 0;
                    text-decoration: none;
                    border-bottom: 2px solid #f1efe4;
                }

                @media screen and (max-width : 1100px){
                    margin: 0 5px;
                }
            } // close li

        } // close ul#fixed_menu_items


        div#fixed_menu_user
        {
            text-transform: uppercase;
            margin-left: 60px;
            display: inline-block;
            font-size: 12px;
            height: 100%;
            vertical-align: middle;

            #user_name_holder
            {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                text-align: right;
            } // close #user_name_holder

            img.user-avatar-image {
                border-radius: 50%;
                border: 2px solid #f2f0e5;
                width: 60px;
                height: 60px;
            }
        } // close div#fixed_menu_user



        @media screen and (max-width : 1100px){

            img#fixed_menu_logo { margin-right: 10px; }

            ul#fixed_menu_items {
                li { margin: 0 5px; }
            }

            div#fixed_menu_user { margin-left: 10px; }
        }

    } // close #fixed_menu_holder


    @media screen and (max-width : 1200px){
        text-align: left;
        #fixed_menu_holder #fixed_nav_responsive_close { display: block; float: right; }
        #fixed_menu_holder img#fixed_menu_logo { position: relative; left: 10px; }
        #fixed_menu_holder ul#fixed_menu_items, #fixed_menu_holder div#fixed_menu_user { display: none; }
    }




} // close .fixed-menu

