#scotland_container
{

  position: relative;
  background-color: #443d0e;
  color: #ffffff;
  text-align: center;
  padding-bottom: 300px;
  z-index: 0;



  div#scotland_overlay
  {
    background-image: url('../img/layout/scotland_bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;

  } // close div#landing_overlay


  div#scotland_darken
  {
    background-color: #215300;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  } // close div#overlay_darken


  hgroup
  {
    padding-top: 8%;

    img { margin-bottom: 30px; }
    h5 { text-transform: uppercase; }
    h1 {  margin-bottom: 40px; }
  } // close hgroup


  p.scotland-intro { width: 60%; margin: 0 auto 30px auto; }
  @media screen and (max-width : 800px){
    p.scotland-intro { width: 80%; }
  }


  #scotland_vertical_split
  {
    position: relative;
    left: 50%;
    top: 20px;
    height: 25vh;
    border-left: 1px solid white;
    width: 1px;
  } // close #scotland_vertical_split


  #get_your_passport
  {
    position: relative;
    top: 90px;
    border: 1px solid white;
    padding: 10px 40px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;

    &:hover
    {
      cursor: pointer;
      border: 1px solid #aaaaaa;
      color: #b3b3b3;
    }
  } // close #get_your_passport


  @media screen and (max-width : 800px){
    #scotland_vertical_split { top: 20px; height: 10vh; }
    #get_your_passport { top: 60px; }
  }

} // close #scotland_container


@media screen and (max-width : 800px){
  #scotland_container { padding-bottom: 130px; }
}